@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&amp;amp;amp;display=swap);
html {
	font-family: 'Roboto', sans-serif;
	font-size: 18px
}

body {
	padding: 0;
	margin: 0;
	background-color: #282828;
}

h1 {
   font: bold 5em "Georgia", serif;
   color: #90a4ae;

}
h1 {
   font: bold 5em "Georgia", serif;
   color: #90a4ae;
}

.z-text {
   /* Tip: Apply CSS transforms here */
   /* rotateX() == up/down */
   /* rotateY() == left/right */
   transform: rotateX(15deg) rotateY(-30deg);
}

.z-layer:not(:first-child) {
   color: #455a64;
}

.z-text {
   /* Tip: Apply CSS transforms here */
   /* rotateX() == up/down */
   /* rotateY() == left/right */
   transform: rotateX(15deg) rotateY(-30deg);
}

body>header {
	z-index: 10000000;
	position: fixed;
	width: 100%;
	padding: 20px 50px;
	background-color: #282828;
	color: #fff;
}

body>header img {
	float: left;
	margin-right: 15px
}

body>header h1 {
	font-size: 90px;
	margin: 0;

}

body>header p {
	font-size: 19px;
	margin: 0;
}

.redB{
	background-color: #FFFFFF;
}

main {
	width: 80%;
	padding: 30px 50px
}

main article {
	border-radius: 5px;
	padding: 25px 30px;
	background-color: #FFFFFF;
	margin-bottom: 50px
}

main article h2 {
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	margin-top: 0
}

main article img {
	border-radius: 5px;
	height: 160px;
	margin: 0 20px 20px 0
}

main article p,
main article h3,
main article ul,
main article ol {
	color: #666
}

h1{
	display: inline;
}

.bok{
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    width: 15%;
    border-radius: 5px;
    top: 26%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: white; /* Цвет фона */ 

}
.bok2{
    position: fixed; /* Фиксированное положение */
    right: 3%; /* Расстояние от правого края окна браузера */
    width: 10%;
    top: 20%;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px; /* Поля вокруг текста */ 
    background: white; /* Цвет фона */ 

}
.bok2 a{

    text-decoration: none;
    color: #125FD2;
}
.bok2 img{
	width: 10%;
}

.bok img{
	width: 100%;
}

footer {
	background-color: #45036f;
	padding: 20px 50px
}

.name h1{
	text-align: center;
	font-family: 'Righteous', cursive;
}

footer p {
	color: #fff;
	font-size: 18px;
	margin: 0
}

.Text{ 
	text-decoration: none;
	position: relative; 
	bottom: 158px; 
	font-size: 30px;
}